.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.75rem 0;
}

.header-menu {
  display: flex;
  gap: 60px;
}

.header-link {
  color: var(--clr-graphite);
  font-size: var(--size-xs);
  text-transform: uppercase;
  letter-spacing: 2.4px;
  display: block;
  transition: transform 0.2s ease;
}

.header-link:hover {
  transform: scale(1.1);
}

.header-link.active-page:hover {
  /* transform: none; */
}
