.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn-slider {
  display: flex;
  margin-top: 5.625rem;
}

.hero-project-counter {
  margin-top: 5.625rem;
}

.current-project-wrap {
  display: flex;
  flex-direction: column;
}

.border-counter {
  margin: 0 30px 0 36px;
  height: 44px;
  border-right: 1px solid var(--clr-gray-light2);
  transform: rotate(45deg);
}

.hero-line {
  border: 1px solid var(--clr-gray-light1);
  transform: rotate(180deg);
  width: 365px;
  height: 0px;
  margin-top: 1.625rem;
}

.current-project-counter,
.project-counter {
  color: var(--clr-gray-light3);
  font-size: var(--size-xl);
}

.hero-btn-wrapper {
  top: 854px;
  width: 222px;
  position: absolute;
  background-color: var(--clr-light);
}

.hero-btn {
  margin: 30px 18px 29px 20px;
}
