.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn-slider {
  display: flex;
  margin-top: 5.625rem;
  align-items: center;
}

.hero-project-counter {
  margin-top: 5.625rem;
}

.hero-line {
  border: 1px solid var(--clr-gray-light1);
  transform: rotate(180deg);
  min-width: 365px;
  height: 0px;
}

.current-project-counter {
  color: var(--clr-gray-light3);
  font-size: var(--size-xl);
}

.hero-btn-wrapper {
  top: 854px;
  width: 222px;
  position: absolute;
  background-color: var(--clr-light);
}

.hero-btn {
  margin: 30px 18px 29px 20px;
}
