:root {
  --clr-light: #ffffff;
  --clr-light-form: #f3f3f3;
  --clr-light-back: #fbfbfb;

  --clr-gray-light1: #f2f2f2;
  --clr-gray-light2: #e0e0e0;
  --clr-gray-light3: #bdbdbd;
  --clr-gray: ##8d8d8d;
  --clr-graphite: #333333;
  --clr-gray-dark: #2c2c2c;
  --clr-red: #c30000;
  --clr-dark: #000000;

  /* sizes  */
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.375rem;
  --size-xl: 1.5rem;
  --size-2xl: 4rem;
  --size-3xl: 12.5rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em+0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

/* img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
} */

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

.section {
  margin-top: 7.5rem;
}
